<div class="wrapper">
    <meu-menu></meu-menu>
    <div class="container">
        <h1>Alterar senha</h1>
        <form>
            <div class="form-group">
                <label for="antiga-senha">Antiga Senha</label>
                <input type="password" class="form-control" id="antiga-senha">
            </div>
            <div class="form-group">
                <label for="nova-senha">Nova Senha</label>
                <input type="password" class="form-control" id="nova-senha">
            </div>
            <div class="form-group">
                <label for="repetir-senha">Repetir Senha</label>
                <input type="password" class="form-control" id="repetir-senha">
            </div>
            <input type="submit" class="btn btn-info" value="Trocar senha">
        </form>
    </div>
    <div class="push"></div>
</div>
<meu-footer></meu-footer>